.main-container{
    display: flex;
    justify-content: space-around;
    background-color: green;
   .sub-container{
       color: red; 
       line-height:80px;
       font-size: large;
       font-weight: bold;
       &:hover{
        cursor: pointer;
        color: white;
       }
    }
}
.second-container{
    min-height:400px;
}