*{
    margin: 0px;
}
.header{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index:1;
   }
.main-container{
    display: flex;
    justify-content:flex-start;
    background-color:#333;
    
   .sub-container{
       color:white; 
       line-height:50px;
       font-size: large;
       font-weight: 300px;
       padding:0px 30px;
       &:hover{
        cursor: pointer;
        color: white;
        background-color: rgb(72, 82, 82);
       }
       &.active{
        background-color: green;
       }
    }
}
.outerOutlet{
    min-height: 300px !important;;
}
 
