<div class="main">
    <div class="topRow">
        <div>
            <mat-form-field appearance="standard" class=" mat-focused">
                <mat-label>Filter</mat-label>
                <input matInput placeholder="Ex. ium" #input (keyup)="applyFilter($event)">
            </mat-form-field>
        </div>
        <div>
            <button class="addCustomer">Add customer</button>
        </div>
    </div>
    <div class="table">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" matSort>
            <ng-container *ngFor="let column of columns" [matColumnDef]="column">
                <ng-container *ngIf="column !== 'Actions'; else actions">
                    <mat-header-cell *matHeaderCellDef style="color:white" mat-sort-header
                        sortActionDescription="Sort by number">{{column}}</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element[column]}}</mat-cell>
                </ng-container>
                <ng-template #actions>
                    <mat-header-cell *matHeaderCellDef style="color:white">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                            style="border:none">
                            <mat-icon style="margin-top:-20px">more_vert</mat-icon>
                        </button>
                    </mat-cell>
                </ng-template>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:columns"></mat-row>
        </mat-table>
        <mat-paginator [length]="100"
            class="mat-paginator mat-form-field-flex ng-tns-c76-5 bg-secondary text-white "
            [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" showFirstLastButtons>
        </mat-paginator>
    </div>

</div>
<mat-menu #menu="matMenu" class="matmenu">
    <button mat-menu-item (click)="onDeleteClick(menu)">
        <!-- (click)="onDeleteClick()" -->
        <mat-icon color="primary">delete</mat-icon>
        <span>Delete</span>
    </button>
    <button mat-menu-item>
        <!-- (click)="onEditClick()" -->
        <mat-icon color="primary">edit</mat-icon>
        <span>Edit</span>
    </button>
    <button mat-menu-item>
        <!-- (click)="onViewClick()" -->
        <mat-icon color="primary">visibility</mat-icon>
        <span>View Details</span>
    </button>
</mat-menu>