<div class="reset">
  <div>
    <br />
    <h1>Reset Your Password</h1>
    <br />
    <p>we have sent a four digit code your phone/email</p>
    <div>
      <label for="input password">Please Enter OTP</label><br />
      <input type="password" name="" id="Enter" placeholder="Enter OTP" />
    </div>
    <div>
      <label for="input password">New password</label><br />
      <input
        type="password"
        name=""
        id="Enter password"
        placeholder="Enter password"
      />
    </div>

    <div>
      <label for="input password">Enter email</label><br />
      <input
        type="password"
        name=""
        id="Enter password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button (click)="resetPassword()" class="btn btn-danger">Reset password</button><br />
  </div>
</div>
