.reset{
    border: 2px solid black;
    width: 400px;
    height: 450px;;
    display:flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 150px;

    
}

div{
    text-align: center;
    color: green;
    line-height: 30px;
    background-color: rgba(255, 192, 203, 0.909);
   
    box-shadow: 5px 10px 20px red inset;
   
     
   
}
    
    
    
