.reset{
    border: 2px solid black;
    width: 400px;
    height: 450px;;
    display:flex;
    margin: auto;
    justify-content: center;
    
}

div{
    text-align: center;
    color: green;
    line-height: 30px;
    
    background-color: pink;
    
    
    }
