<div class="sss">
    <div class="ddd">
        <div>
            <h1>this userdetails</h1>
            <h1 style="color:yellow"> userid: {{user.id}}</h1>
            <span style="color: red;">profile photo:</span><br><img style="height:100px;width:100px;"
                src="{{user.photo}}" alt="{{user.name}}">
            <h3 style="color: green"> full name:{{user.name}}</h3>
            <h2 style="color: blue;">phone number:{{user.phonenumber}}</h2>
        </div>
    </div>
</div>
<p>go to <a  (click)="back()" [routerLink]="['/dashBoard/userList']">back</a></p>