.main-container {
    clear: both;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(190, 201, 201);
    padding: 20px 0px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(95, 107, 107);
    
    h1 {
        margin-left: 30px;
        font-size: 50px;
        font-style: unset;
        margin-top: 25px;
        
    }
}
