.main-container{
    background: palevioletred;
    clear: both;
    .social,h2{
        display: flex;
        justify-content: center;
    }
    .social{
        padding: 10px 0;
    }
    h2{
        color: azure;
        font-weight: bold;
    }
}