<div class="main-container p-3">
<mat-form-field color='block' class="mat-focused">
    <input matInput placeholder="Filter" >
</mat-form-field>  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Item ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> itemName </th>
        <td mat-cell *matCellDef="let row"> {{row.itemName}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="discription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> discription </th>
        <td mat-cell *matCellDef="let row"> {{row.discription}} </td>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="batchName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> batchName </th>
        <td mat-cell *matCellDef="let row"> {{row.batchName}} </td>
      </ng-container>
       
       <!-- Color Column -->
       <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> companyName </th>
        <td mat-cell *matCellDef="let row"> {{row.companyName}} </td>
      </ng-container>

       <!-- Color Column -->
       <ng-container matColumnDef="quanity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> quanity </th>
        <td mat-cell *matCellDef="let row"> {{row.quanity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    
  </div>
  <div class="matPaginator">
      <mat-paginator [length]="100" class="bg-secondary text-white mt-3" [pageSize]="10"
           [pageSizeOptions]="[3, 5, 7, 10]" aria-label="Select page" showFirstLastButtons>
      </mat-paginator>
  </div>
</div>
 
