table {
 width: 100%;
 background-color:#fff;
}
table,th,td {
    color: black;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: rgb(223, 222, 222);
}
th{
  background-color: aquamarine;
  font-size:15px;
  color: #fff;
  font-weight: 600;
}
.matPaginator{
    display: flex;
    justify-content: flex-end;
    mat-paginator{
        width:max-content;
         &:active{
            color:black
        }
    }
}
.mat-form-field {
    font-size: 14px;
    width:100%;
  }      
[hidden] {
    display: none !important;
}
.itemId{
    &:hover{
        cursor:not-allowed;
    }
   input{
    &:hover{
        cursor:not-allowed;
   } 
 } 
}
.dilogueBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index: 100;
    .addForm{
        background-color: white;
        padding:20px 30px 30px;
        border-radius: 5px;
        height:max-content;
        width:400px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    } 
}