<!-- <h1 class="text-info">this is  dashBoard</h1> -->
<div class="container-fluid mt-3">
    <ngb-carousel >
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="./../../../assets/image3.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First Slide</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="./../../../assets/image2.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second Slide</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="./../../../assets/image1.png"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third Slide</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="./../../../assets/image4.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Fourth Slide</h3>
        </div>
      </ng-template>
    </ngb-carousel>
</div>