// .main{
//     background-color: rgb(225, 152, 152);

// }

table {
  width: 100%;
  background-color: whitesmoke;


  table,
  th,
  td {
    color: black;
    border-bottom: 1px solid rgb(128, 126, 126);
   // text-align: center;

  }

  tr:hover {
    background-color: rgb(223, 222, 222);
  }

  head:hover {
    background-color: whitesmoke;
  }
}
.topRow{
 display: flex;
justify-content: space-between; 

mat-form-field {
  font-size: 14px;
  width: 200px;
  margin:5px 0 0 5px;
  //background-color:white;
  //border:2px solid red;
}
.addInvoice{
  color:white;
  background-color: green;
  border:none;
  padding:5px;
  border-radius: 5px;
  margin:22px 10px 0 0
}
}

th {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(45, 134, 235);
}
mat-paginator{
    width:max-content;
    float: right;
    &:active{
      color:black
    }
}
mat-spinner{
  position: relative;
  top:-100px;
  left:50%;
 
}

.actions{
  padding-left: 10px;
}
.showForm{
      display: flex;
      justify-content: center;
      align-items: center;
      height:100%;
      width:100%;
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.5);
      z-index: 100; 
      .subForm{
       // position:fixed;
        background-color: white;
        padding:20px 30px 30px;
        border-radius: 5px;
        height:350px;
        div{
          margin:15px
        }
        .btns{
          display: flex;
          justify-content: space-between;
          margin-top:20px
        }
      }
}
.mat-paginator-outer-container {
  display: flex;
  background-color:#ddd;
  color: black;
}
.mat-form-field-flex ng-tns-c76-5{
  color:black
}
.form-control{
  width:300px;
  display: inline;
  margin-left: 10px;
  
}
.dialogue{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
  z-index: 100; 
  .subDialogue{
    background-color: white;
        padding:20px 30px 30px;
        height:170px;
        border-radius: 5px;
        p{
          margin-left:10px
        }
   .btns{
    display:flex;
    margin-left: 70px;
    button{
      margin:5px
    }
    
   }        
  }
}