.main-container {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(190, 201, 201);
    padding: 20px 0px;
    padding: 0px;
    background-color: rgb(114, 101, 189);
    position: relative;
    mat-icon{
        position:absolute;
        right: 50px;
        top:30px;
        transform:scale(2);
        &:hover{
          border:1px solid rgb(185, 177, 177);
          border-radius:15px;
          cursor: pointer;
        }
        &div{
            margin-bottom: 10px;
        }
    }
     div {
        margin: 0px;
        padding: 0px;
        img {
            height: 80px;
            width: 80px;
           }
        }
        h1 {
        margin-left: 30px;
        font-size: 50px;
        font-style: unset;
       }
  }

    


// .demo{

//     height: 100px;
//     text-align: center;
//     font-weight: bolder;
//     .icon{
//         float: left;
//         font-size: large;
//     }
// }
.profile{
    position: absolute;
    top:80px;
    right:30px;
    width: 200px;
    height:200px;
    background-color: #fff;
    border-radius:10px;
    display: flex;
    flex-direction:column;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}
.display{
    display:none;
}