<div class="main-container">
    <div><img src="../../../assets/apple.jpg"/></div>
    <h1 class="demo" class="border border-primary position-static  p-3 " class="text-white p-2"
        style="--bs-bg-opacity: .5;">
        VSS Project-1
    </h1>
    <div class="dropdown rounded-circle dropdownmenu bg-white" (click)="profile()">
        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle icon-size"></i>
        </button>
      </div> 
    <div [ngClass]="profilecondition ? 'profile':'display'" (mouseleave)="leave($event)" >
        <button class="btn btn-white mt-0">{{userName}}</button>
        <button class="btn btn-white mt-3">View Profile</button>
        <button class="btn btn-white mt-3">Settings</button>
        <button (click)="LogOut()" class="btn btn-white mt-3">Logout</button>
    </div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</div>