<div class="main-container">
    <div><img src="../../../assets/apple.jpg"/></div>
    <h1 class="demo" class="border border-primary position-static  p-3 " class="text-danger p-2"
        style="--bs-bg-opacity: .5;">
        VSS Project-1
    </h1>
    <mat-icon id="icon" (click)="profile()">account_circle</mat-icon>
    <div [ngClass]="profilecondition ? 'profile':'display'" (mouseleave)="leave($event)" >
        <button class="btn btn-white mt-0">{{userName}}</button>
        <button class="btn btn-white mt-3">View Profile</button>
        <button class="btn btn-white mt-3">Settings</button>
        <button (click)="LogOut()" class="btn btn-white mt-3">Logout</button>
    </div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</div>