.main-container {
    display: flex;
    justify-content: flex-start;
    background-color: blueviolet;
    position: relative;
    .dropdownmenu {
        position: absolute;
        right: 50px;
        top: 10px;
        transform: scale(1);

        .btn {
            height: 60px;
            width: 60px;
            border-radius: 30px;

            .icon-size {
                font-size: 30px;
            }
        }
        
    }
     div {
        margin: 0px;
        padding: 0px;
        img {
            height: 80px;
            width: 80px;
           }
        }
        h1 {
        margin-left: 30px;
        font-size: 50px;
        color: azure;
        font-weight: bold;
       }
  }
//   .p1{
//     padding: 0px 30px;
//     &.bg-white{
//     width:400px;
//     height:300px;
//     }
      
  //}
  .text-dark{
    padding:0px 60px;
  }  



