.main-container{
    padding:10px 300px;
    .sub-container{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        padding:0px 12px;
       .row{
           height:300px;
           .col-6{
               padding:10px;
            }
       }
    }
}
.amount{
    padding:0px 0px 0px 150px;
    .new-amount{
        border-top: 1px solid #ddd;
    }
}