.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:228px 0px;
    background-color: rgb(219, 243, 243);
    .sub-container{
        text-align: center;
        margin: 20px 0px;
        background-color: rgb(147, 162, 162);
        padding: 50px;
        box-shadow: 0 4px 8px 0 rgba(252, 3, 3, 0.2), 0 6px 20px 0 rgba(255, 3, 3, 0.19);
    }

}